.note-container {
    height: 100vh;
  }
  
  .note-container h1 {
    margin-bottom: 10px;
    height:30px;
    margin-top:3px;
    font-size:30px;
  }
  
  .note-container_notes {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    overflow-y: scroll;
    font-size:50px;
  }